.accounts {
    margin-top: 3rem;
  
    .container {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      grid-template-areas: "logo mobile";
      gap: 60px;
      
      
  
      @include lg {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo menu switch buttons";
      }
  
      #logo {
        grid-area: logo;
      }
  
      #menu {
        grid-area: menu;
        display: none;
        margin-left: 5px;
  
        @include lg {
          display: block;
        }
  
        nav {
          display: flex;
          gap: 15px;
        }
      }
  
      .btn-switch {
        grid-area: switch;
        display: none;
  
        @include lg {
          display: block;
        }
      }
  
      .account-buttons {
        grid-area: buttons;
        display: none;
        gap: 15px;
        box-sizing: border-box;
  
        @include lg {
          display: flex;
        }
      }
  
      .btn-mobile {
        grid-area: mobile;
        display: block;
  
        @include lg {
          display: none;
        }
      }
    }

    .container-account {
      display: flex;
      align-items: flex-start; /* Adjust alignment as needed */
    }
    
    .sidebar {
      margin-bottom: 300px;
      margin-top: 60px;
      margin-left: 170px;
      position: relative;
      right: 4rem;
    
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50px; // Adjust the distance from the sidebar
        width: 1px; // Width of the border
        height: 100%;
        background-color: $gray-400; // Color of the border
      }
    
      h5 {
        margin-left: 10px;
      }
    
      p {
        position: relative;
        right: 1.5rem;
        bottom: 0.5rem;
      }
    
      button.btn-theme {
        @include button;
        background: $theme;
        color: $white;
        border: none;
        padding: 10px 130px;
        cursor: pointer;
        display: block;
        margin-top: 20px;
        text-align: center;
        text-indent: -65px;
        position: relative;
        right: 4rem;
    
        &:hover {
          background: $gray-700;
        }
      }
    
      .sign-out {
        margin-top: 20px;
        position: relative;
        right: 2rem;
      }
    }
    
    .account-details {
      font-family: Arial, sans-serif;
      padding: 20px;
      flex: 1; /* Adjust flex property to ensure proper alignment */
    
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
    
      h5 {
        font-size: 18px;
        margin-bottom: 15px;
      }
    
      .labels-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    
        .label {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
    
          label {
            font-size: 16px;
            margin-bottom: 5px;
          }
    
          input[type="text"],
          input[type="email"],
          textarea {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
          }
        }
      }
    
      .bio-container {
        margin-top: 20px;
    
        label {
          font-size: 16px;
          margin-bottom: 5px;
        }
    
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
        }
      }
    }
    

    
  }
