.devices {
  padding: 55px;
  background-color: $gray-100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray-200;

    .image-container {
      position: relative;
      left: 4rem;
    }

    .review-text {
      display: grid;
      grid-template-columns: 1f;
      grid-area: auto;
      margin-right: 10rem;
      margin-top: 6rem;
      
    }

    h1 {
      position: relative;
      top: 2rem;
      color: $gray-900;
      
      @include d5
    }

    .app {
      position: relative;
      top: 1rem;

      color: $gray-600;
    }

    .box1 {

      padding-top: 20px;
      
      h3 {
        position: relative;
        top: 1rem;
        
      }

      p {
        margin-top: 17px;
        color: $gray-600;
      }

      .editor-logo {
        position: relative;
        left: 15rem;
        bottom: 5.5rem;
      }
      
      .star1 {
        position: relative;
        
      }

    }

    .box2 {
      position: relative;
      bottom: 1rem;
    }

    .star2 {
      position: relative;
      bottom: 1rem;
    }

    .google-logo {
      position: relative;
      left: 15rem;
      bottom: 5.5rem;
    }

    .rating {
      position: relative;
      color: $gray-600;
      
    }

    .google {
      color: $gray-600;
    }
  }
}