.manage {
  padding: 5rem;

  .container {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: flex-end;

    h2 {
      position: relative;
      bottom: 15rem;
      left: 10rem;
      font-size: $gray-900;
    }
   
    .info-text {
      display: grid;
      grid-template-columns: 1, 1fr;
      grid-area: auto;

      .circle-check{
        margin-right: 20px;
      }

    
    }

    .btn-theme { 
      @include button;
      background: $theme;
      color: $white;
      border: none;
      width: 20%;
      margin-top: 20rem;
      
  
      &:hover {
          text-decoration: none;
          background: $gray-700;
          color: $white;
      } 
  }
    
  }
}